/*                               ()_()
                                 (. .)
/----------------------------oo0--(_)--0oo-------------------------------------/

/--  BOTTOMBAR   BOTTOMBAR   BOTTOMBAR   BOTTOMBAR   BOTTOMBAR   BOTTOMBAR  ---/

                               ooo0  0ooo
/------------------------------(  )--(  )--------------------------------------/
/*                             (_)    (_)                                     */
.futurist .bottombar {
  background-color: rgba(10, 16, 26, .95);

  .views {
    li {
      a {
        color: #808080;

        &:hover {
          color: white;
        }

        &.active {
          color: #FF5E54;
        }
      }
    }
  }

  .mass-form-delete {
    color: #808080;

    &:hover {
      color: white;
    }

    &.selected {
      color: #73DDDB;

      &:hover {
        color: #FF5E54;
      }
    }
  }

  .create-new-form {
    .icon-arrow {
      color: #808080;
    }

    #add-form {
      background-color: rgba(23, 28, 35, .3);

      &:hover {
        span {
          background-color: #FF5E54;
        }
      }

      span {
        background-color: #73DDDB;
        color: #0A101A;
        box-shadow: 0 4px 0 rgba(0, 0, 0, .8);
      }
    }
  }

  .go-back {
    color: #73DDDB;

    &:hover {
      color: #ffffff;
    }
  }
}