/*                               ()_()
                                 (. .)
/----------------------------oo0--(_)--0oo-------------------------------------/

/---  MARKERS   MARKERS   MARKERS   MARKERS   MARKERS   MARKERS   MARKERS   ---/

                               ooo0  0ooo
/------------------------------(  )--(  )--------------------------------------/
/*                             (_)    (_)                                     */
.futurist .markers {
  .marker {
    border-right: solid 3px #131B1F;

    p {
      span {
        background-color: #131B1F;
        color: #666666;
      }
    }
  }
}