/*                               ()_()
                                 (. .)
/----------------------------oo0--(_)--0oo-------------------------------------/

/----    BUTTONS    BUTTONS    BUTTONS    BUTTONS    BUTTONS    BUTTONS     ---/

                               ooo0  0ooo
/------------------------------(  )--(  )--------------------------------------/
/*                             (_)    (_)                                     */
.clear {

  //Main colors
  @each $name-color, $color in $main-colors {
    &.#{$name-color} {
      .btn {
        &:hover, &:focus {
          color: $color;
        }
        &.btn-primary {
          background-color: $color;
        }
        &.btn-primary-2 {
          background-color: darken($color, 20%);
          color: white;

          &:hover {
            background-color: darken($color, 30%);
          }
        }
      }
    }
  }

  //Secundary colors
  @each $name-color, $color in $secundary-colors {
    &.#{$name-color} {
      .btn {
        &.btn-primary {
          &:hover {
            background-color: $color;
          }
        }
      }
    }
  }

  .btn {
    color: white;
    background-color: #020407;

    &.btn-primary {
      color: #0A101A;

      &:hover {
        color: #0A101A;
      }
    }

    &.btn-secundary {
      background-color: #874A4A;
      color: white!important;

      &:hover {
        background-color: #633636;
      }
    }
  }
}