/*                               ()_()
                                 (. .)
/----------------------------oo0--(_)--0oo-------------------------------------/

/----    SKIN BOX   SKIN BOX   SKIN BOX   SKIN BOX   SKIN BOX   SKIN BOX   ----/

                               ooo0  0ooo
/------------------------------(  )--(  )--------------------------------------/
/*                             (_)    (_)                                     */
.clear {

  //Main colors
  @each $name-color, $color in $main-colors {
    &.#{$name-color} {
      .skin-box {
        &.config {
          border: solid 1px $color;
          background: linear-gradient(to right, $color, $color) no-repeat,
          linear-gradient(to bottom, $color, $color) no-repeat,
          linear-gradient(to left, $color, $color) no-repeat,
          linear-gradient(to top, $color, $color) no-repeat;
          background-position: top left, top right, bottom left, top left;
          background-size: 100% 1px, 1px 100%, 100% 1px, 1px 100%;
        }
        .skin-box-header {
          &:hover {
            color: $color;
          }
          a {
            background-color: $color;
            &:hover {
              background-color: $color;
              color: white;
            }
          }
        }
        .skin-box-body {
          .edit-config-details {
            background-color: darken(rgba($color, .7), 5%);
          }
        }
      }
    }
  }

  .skin-box {
    border: solid 1px #F9F6F4;
    background: linear-gradient(to right, #ffffff, #F9F6F4) no-repeat,
    linear-gradient(to bottom, #F9F6F4, #ffffff) no-repeat,
    linear-gradient(to left, #ffffff, #F9F6F4) no-repeat,
    linear-gradient(to top, #F9F6F4, #ffffff) no-repeat;
    background-position: top left, top right, bottom left, top left;
    background-size: 100% 1px, 1px 100%, 100% 1px, 1px 100%;

    &.active {
      .skin-box-header {
        button {
          background-color: #484644;
          color: white;
        }
      }
    }

    .skin-box-header {
      button {
        background-color: #C3BFBA;
        color: #F1ECE6;

        &:hover {
          background-color: #484644;
          color: #white;
        }
      }

      a {
        &:hover {
          color: #ffffff;
        }
      }
    }

    .skin-box-body {
      background-color: white;

      .edit-config-details {
        color: #ffffff;
      }
    }
  }
}