/*                               ()_()
                                 (. .)
/----------------------------oo0--(_)--0oo-------------------------------------/

/---  MARKERS   MARKERS   MARKERS   MARKERS   MARKERS   MARKERS   MARKERS   ---/

                               ooo0  0ooo
/------------------------------(  )--(  )--------------------------------------/
/*                             (_)    (_)                                     */
.vintage .markers {
  .marker {
    border-right: solid 3px rgba(0,0,0,.3);

    p {
      span {
        background-color: rgba(0,0,0,.3);
        color: white;
      }
    }
  }
}