/*                               ()_()
                                 (. .)
/----------------------------oo0--(_)--0oo-------------------------------------/

/---  MARKERS   MARKERS   MARKERS   MARKERS   MARKERS   MARKERS   MARKERS   ---/

                               ooo0  0ooo
/------------------------------(  )--(  )--------------------------------------/
/*                             (_)    (_)                                     */
.vintage .markers {
  .marker {
    border-right: solid 3px #8E7845;

    p {
      span {
        background-color: #8E7845;
        color: white;
      }
    }
  }
}