//COLORS
//------------------------------------------------------------------------------

$main-colors: (
  main-color1: #73DDDB,
  main-color2: #5FF2A3,
  main-color3: #CCFF66,
  main-color4: #FFA86E,
  main-color5: #836DCB
);

$secundary-colors: (
  secundary-color1: #FF5E54,
  secundary-color2: #FFA600,
  secundary-color3: #33CC33,
  secundary-color4: #4477DD,
  secundary-color5: #ED129A,
);