/*                               ()_()
                                 (. .)
/----------------------------oo0--(_)--0oo-------------------------------------/

/----     BASE STYLES      BASE STYLES      BASE STYLES      BASE STYLES    ---/

                               ooo0  0ooo
/------------------------------(  )--(  )--------------------------------------/
/*                             (_)    (_)                                     */
body {
  font-family: $body-font;
  font-size: $body-font-size;
  color: $body-color;
  background-color: #0A101A;
}

a, button {
  outline: 0!important;
  text-decoration: none!important;
}

.container {
  max-width: 1296px;
  padding-left: 15px;
  padding-right: 15px;
}

@media (min-width: 544px) {
  .container {
    padding-left: 35px;
    padding-right: 35px;
  }
}

@media (min-width: 768px) {
  .boxed {
    padding-left: 35px!important;
    padding-right: 35px!important;
  }
}