/*                               ()_()
                                 (. .)
/----------------------------oo0--(_)--0oo-------------------------------------/

/---  CONTENT   CONTENT   CONTENT   CONTENT   CONTENT   CONTENT   CONTENT   ---/

                               ooo0  0ooo
/------------------------------(  )--(  )--------------------------------------/
/*                             (_)    (_)                                     */
.content {
  padding: 70px 0 0 0;
  background-color: #0A101A;

  .work-zone {
    position: relative;
    height: calc(100vh - 70px);
    background: linear-gradient(120deg, #273740 0%, #1E232D 45%, #1E232D 50%, #432C33 100%);
    overflow-y: hidden;

    header {

      h1 {
        text-align: center;
      }

      .order-forms {
        text-align: center;
        margin: 0  auto 35px auto;

        span {
          color: #666666;
        }

        a {
          color: white;

          &.dropdown-toggle:after {
            border-top: solid 4px;
            border-right: solid 3px transparent;
            border-left: solid 3px transparent;
          }
        }

        .dropdown-menu {
          min-width: 64px!important;
          width: 64px!important;
          right: 0;
          left: 0;
          background-color: rgba(10,16,26,.9);
          box-shadow: inset 0 1px 0 #ffffff;
          border-radius: 0;
          text-align: center;
          color: $color3;
          margin: 5px auto;

          &:before {
            @include triangle-top-center(4px, 4px, 4px, 4px, white);
          }

          li {
            cursor: pointer;

            &:hover {
              color: #ffffff;
            }

            &.active {
              color: white;
            }

            + li {
              border-top: solid 1px rgba(255,255,255,.05);
            }
          }
        }
      }

      .search-field {
        width: 100%;
        margin-bottom: 30px;
      }
    }
  }

  @media (min-width: 768px) {
    .work-zone {
      header {
        h1 {
          text-align: left;
          float: left;
          margin: 35px 0;
        }

        .order-forms {
          float: right;
          margin: 35px 20px 35px 0;

          .dropdown-menu {
            min-width: 64px;
            right: 0;
            left: auto;
          }
        }

        .search-field {
          width: 250px;
          float: right;
          margin: 30px 0;
        }
      }
    }
  }

  @media (min-width: 992px) {
    .work-zone {
      header {
        h1 {
          margin: 33px 0;
        }
        .search-field {
          width: 400px;
        }
      }
      .items-container {
        width: 570px;
        margin: auto;
        position: relative;
      }
    }
  }

  @media (min-width: 1200px) {
    .work-zone {
      header {
        .search-field {
          width: 472px;
        }
      }
      .items-container {
        width: 776px;
      }
    }
  }
}