/*                               ()_()
                                 (. .)
/----------------------------oo0--(_)--0oo-------------------------------------/

/---  CONTENT   CONTENT   CONTENT   CONTENT   CONTENT   CONTENT   CONTENT   ---/

                               ooo0  0ooo
/------------------------------(  )--(  )--------------------------------------/
/*                             (_)    (_)                                     */
.content {
  padding: 70px 0 0 0;
  background-color: #0A101A;

  .work-zone {
    position: relative;
    height: calc(100vh - 70px);
    background: linear-gradient(120deg, #273740 0%, #1E232D 45%, #1E232D 50%, #432C33 100%);
    overflow-y: hidden;

    header {

      h1 {
        text-align: center;
      }

      .search-field {
        width: 100%;
        float: right;
        margin-bottom: 30px;
      }
    }
  }

  @media (min-width: 768px) {
    .work-zone {
      header {
        h1 {
          text-align: left;
          float: left;
          margin: 35px 0;
        }
        .search-field {
          width: 330px;
          margin: 30px 0;
        }
      }
    }
  }

  @media (min-width: 992px) {
    .work-zone {
      header {
        h1 {
          margin: 33px 0;
        }
        .search-field {
          width: 474px;
        }
      }
    }
  }
}