/*                               ()_()
                                 (. .)
/----------------------------oo0--(_)--0oo-------------------------------------/

/----  TOPBAR    TOPBAR    TOPBAR    TOPBAR    TOPBAR    TOPBAR    TOPBAR  ----/

                               ooo0  0ooo
/------------------------------(  )--(  )--------------------------------------/
/*                             (_)    (_)                                     */
.topbar {
  background-color: #0A101A;
  height: 70px;
  width: 100%;
  padding: 5px 0;
  position: fixed;
  top: 0;
  z-index: 100;

  .logo {
    margin-top: 5px;
    float: left;

    img {
      height: 50px;
    }
  }

  .btn {
    float: right;
    margin-top: 15px;
    margin-right: 5px;
    letter-spacing: 1px;
    font-size: 14px;

    &.btn-badge {
      padding-left: 10px;
      padding-right: 10px;
    }

    + .btn {
      margin-right: 10px;
    }
  }

  .user {
    margin-top: 4px;
    float: right;
    color: #ffffff;
    position: relative;

    &:after {
      content: '';
      width: 51px;
      height: 51px;
      border: solid 10px linear-gradient(0deg, #273740 0%, #432C33 100%);
      position: absolute;
      right: 5px;
    }

    img {
      width: 51px;
      height: 51px;
      border-radius: 50%;
      border: solid 1px white;
      margin-left: 13px;
    }
  }

  @media (min-width: 544px) {
    .btn {
      margin-right: 25px;

      + .btn {
        margin-right: 20px;
      }
    }
  }

  @media (min-width: 768px) {
    .btn {
      &.btn-badge {
        padding-left: 20px;
        padding-right: 20px;
      }
    }
  }
}