/*                               ()_()
                                 (. .)
/----------------------------oo0--(_)--0oo-------------------------------------/

/----    FORMS    FORMS    FORMS     FORMS     FORMS     FORMS     FORMS    ---/

                               ooo0  0ooo
/------------------------------(  )--(  )--------------------------------------/
/*                             (_)    (_)                                     */
.form-control {
  height: 35px;
  box-shadow: none;
  background-color: $input-bg;
  border-radius: $input-border-radius;
  border: solid 1px $input-bg;
  border-bottom: solid 2px #090B0F;
  border-top: none;
  font-family: $input-font-family;
  font-style: italic;

  &:focus {
    background-color: $input-bg;
    border-color: #090B0F;
  }
}

.input-group {
  position: relative;
  padding-top: 1px;
  border-radius: 3px;
  background: linear-gradient(to right, #7B7D83 0%, #3E3B44 15%, #3E3B44 85%,#73DDDB 100%) no-repeat;
  background-position: top left;
  background-size: 100% 3px;

  .input-group-addon {
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    font-size: 26px;
    background: none;
    border: none;
    color: #73DDDB;
  }

  .form-control {
    padding-right: 36px;
  }
}
