/*                               ()_()
                                 (. .)
/----------------------------oo0--(_)--0oo-------------------------------------/

/----   ITEM LINE  ITEM LINE  ITEM LINE  ITEM LINE  ITEM LINE  ITEM LINE   ----/

                               ooo0  0ooo
/------------------------------(  )--(  )--------------------------------------/
/*                             (_)    (_)                                     */
.item-line {
  width: 100%;
  height: 38px;
  margin: auto;
  padding: 5px;
  border: solid 1px #6A676E;
  border-radius: 3px;
  //overflow: hidden;
  position: relative;
  background: linear-gradient(-90deg, #6A676E 85%, #ffffff 100%) no-repeat,
  linear-gradient(0deg, #ffffff 70%, #6A676E 100%) no-repeat,
  linear-gradient(90deg, #6A676E 85%, #ffffff 100%) no-repeat,
  linear-gradient(180deg, #ffffff 70%, #6A676E 100%) no-repeat;
  background-position: top left, top right, bottom left, top left;
  background-size: 100% 1px, 1px 100%, 100% 1px, 1px 100%;

  &:hover {
    border: solid 1px #405D63;
    background: linear-gradient(-90deg, #405D63 85%, #73DDDB 100%) no-repeat,
    linear-gradient(0deg, #73DDDB 70%, #405D63 100%) no-repeat,
    linear-gradient(90deg, #405D63 85%, #73DDDB 100%) no-repeat,
    linear-gradient(180deg, #73DDDB 70%, #405D63 100%) no-repeat;
    background-position: top left, top right, bottom left, top left;
    background-size: 100% 1px, 1px 100%, 100% 1px, 1px 100%;

    .left, .right {
      filter: blur(2px);
    }

    .options {
      display: block;
    }
  }

  &.selectable {
    background: none;
    border-style: dotted;
    border-color: #6A676E;

    &.selected {
      .left, .right {
        background-color: rgba(40, 77, 98, .65);
      }
    }

    .left, .right {
      filter: blur(0);
    }

    .options {
      display: none;
    }

    .selection-mask {
      position: absolute;
      top: 5px;
      bottom: 5px;
      left: 5px;
      right: 5px;
      border-radius: 3px;

      &:before, &:after {
        content: '';
        width: 80px;
        position: absolute;
        top: -6px;
        bottom: -6px;
        margin: auto;
        border: solid 2px $color3;
      }

      &:before {
        left: -6px;
        border-right: none;
        border-radius: 3px 0 0 3px;
      }

      &:after {
        right: -6px;
        border-left: none;
        border-radius: 0 3px 3px 0;
      }
    }
  }

  + .item-line {
    margin-top: 10px;
  }

  &:last-child {
    margin-bottom: 30px;
  }

  .left {
    border-radius: 2px;
    background-color: rgba(255, 255, 255, .2);
    padding: 1px 5px;
    width: 100%;
  }

  .options {
    padding: 3px 0;
    position: absolute;
    top: 5px;
    bottom: 5px;
    left: 5px;
    right: 5px;
    margin: auto;
    background-color: rgba(40, 77, 98, .65);
    display: none;
    text-align: center;

    li {
      height: 100%;
      display: inline-block;

      a {
        position: relative;
        top: -3px;
        color: #73DDDB;
        font-size: 14px;

        &:hover {
          color: white;

          [class^="icon-"], [class*=" icon-"] {
            transform: scale(1.1);
          }
        }

        [class^="icon-"], [class*=" icon-"] {
          font-size: 30px;
          display: inline-block;
          vertical-align: middle;
          position: relative;
          top: -2px;
        }

        i {
          display: none;
        }
      }

      + li {
        margin-left: 20px;
        border-left: solid 2px #263945;
        padding-left: 15px;
        box-shadow: inset 1px 0 0 #6B7E8A;
      }
    }
  }

  @media (min-width: 544px) {
    .options {
      li {
        a {
          i {
            display: inline-block;
            span {
              display: none;
            }
          }
        }
      }
    }
  }

  @media (min-width: 768px) {
    width: 628px;

    &.selectable {
      .selection-mask {
        &:before, &:after {
          width: 125px;
        }
      }
    }

    .left {
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
      float: left;
      width: 374px;
      margin-right: 2px;
    }

    .right {
      height: 26px;
      border-top-right-radius: 2px;
      border-bottom-right-radius: 2px;
      background-color: rgba(255, 255, 255, .2);
      float: left;
      box-shadow: inset 1px 0 0 #7B7C82;

      span {
        font-size: 14px;
        position: relative;
        text-align: center;
        display: inline-block;
        padding: 0 10px 0 33px;
        margin-bottom: 2px;
        width: 120px;

        &:last-child {
          border-left: solid 2px #3B3A40;
          box-shadow: inset 1px 0 0 #7B7C82;
        }

        [class^="icon-"], [class*=" icon-"] {
          font-size: 30px;
          position: absolute;
          top: -5px;
          left: 12px;
        }
      }
    }

    .options {
      li {
        a {
          i {
            display: inline-block;
            span {
              display: inline-block;
            }
          }
        }
      }
    }
  }

  @media (min-width: 992px) {
    width: 570px;

    .left {
      width: 316px;
    }
  }

  @media (min-width: 1200px) {
    width: 776px;

    .left {
      width: 522px;
    }
  }
}